body{
    background-color: ;
}
header{
    background-color: black;
}

img{
    width: 40px;
    margin-inline: 40vh;
}
ul{
    text-align: center;
}

.table{
    margin-top: 10px;
    max-width: 1130px;
    align-content: center;
}
